@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

body{
  padding: 2rem;
  background-color: rgb(250, 245, 235);
  font-family: sans-serif;
}
a{
  margin : 1rem;
  background-color: grey;
  padding: 5px;
  border: none;
  color:  white;
}
h1,h2{
  color: rgba(0, 0, 0, 0.719);
}
.logo{
  display: inline-block;
  display: flex;
  justify-content: flex-end;
  font-family: cursive;
  font-size: 1.5rem;
}

li{
  padding: 10px;
  background-color: white;
  margin: 5px;
  list-style: none;
  width: 20%;
  text-align: center;
}
#apiData{
  background-color: grey;
 font-weight: bold;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
 
}

footer {
  position: absolute;
  bottom: 5px;
}

@media(max-width:700px){
  .logo{
    display: none;
  }
}
